.panel-container {
  min-height: 505px;
}
.content {
}

.loader {
}

.imgGallery {
  line-height: 0;
  column-count: 3;
  column-gap: 5px;
}

.imgContainer {
  margin-bottom: 5px;
}

.imgElement {
  width: 100% !important;
  height: auto !important;
}

.textContainer {
  font-size: x-large;
  margin-bottom: 0.1rem !important;
  min-height: 5em;
}

.textsContainer {
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.linksContainer {
  margin: 0.5rem 1.5rem 1.5rem 1.5rem;
}

.linkContainer {
  font-size: x-large;
  margin-bottom: 0.1rem !important;
  min-height: 5em;
}

.copyBtn {
  margin-top: 1.5rem;
}
