.imgGallery {
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

.imgContainer {
}

.imgElement {
  width: 100% !important;
  height: auto !important;
}

.skateBoard {
  border: none;
  font-size: 1.5rem;
  color: #888888;
}
.skateBoardContainer {
}
