.skate-page {
}

// total hight

.top-section {
  min-height: 60px;
  margin-bottom: 0em !important;
  z-index: 30;
}

.main-section {
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin-bottom: 0em !important;
  overflow-y: auto;
  max-height: 505px;
}

.bottom-section {
}
