.info-container {
  min-height: 505px;
}

.info-padding {
  padding-top: 3rem;
  padding-right: 1.5rem;
}

.botIconContainer {
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.botIcon {
}

.botDescContainer {
  padding: 0rem;
  margin-bottom: 1rem;
}

.botTitleContainer {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
}
