.update-text {
  margin-bottom: 1em;
  padding-left: 0em;
}

.update-text-container {
  padding-left: 0em;
}

.suggestion-text {
  margin-bottom: 1em;
  padding-right: 0em;
}

.suggestion-text-container {
  padding-right: 0em;
}

.navbar-class {
  min-height: 60px !important;
}
