.update-text {
  margin-bottom: 1em;
  padding-left: 0em;
}

.update-text-container {
  padding-left: 0em;
}

.suggestion-text {
  margin-bottom: 1em;
  padding-right: 0em;
}

.suggestion-text-container {
  padding-right: 0em;
}

.navbar-class {
  padding-top: 5px;
  padding-left: 0.75em;
  padding-right: 0.75em;
  max-height: 30px;
  min-height: 30px;
}
